.image img {
  width: 100%;
}
.bannerText {
  top: 60%;
  margin-left: 40%;
  position: absolute;
  text-align: center;
}
.logo1 {
  position: absolute;
  margin-left: 50%;
  top: 20%;
}

















.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F15A29;
  color: white;
  text-align: center;
}
.footer h5 img {
  margin: 0 5px 2.5px 0;
  height: 18px;
}
.footer h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
}
.footer p {
  font-size: 14px;
}
.fa {
  width: 0px;
  height: 0px;
  background: white;
  margin: 0 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  position: relative;
  padding: 10px;
  color: #F15A29;
  text-decoration: none;
  box-shadow: 0 2.5px 2.5px rgba(0, 0, 0, 0.3);
  transition: 1sec;
}
.footer h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 15px;
}
