.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: 100%;
}
.landing img {
  width: 100%;
}
.logo1 img {
  position: absolute;
  margin-left: 40.8%;
  top: 20%;
}
.bannerText {
  top: 60%;
  margin-left: 36.7%;
  position: absolute;
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
}



















.subscribe {
  background-image: url(../images/backgrounds/subscribe.jpg);
  background-size: cover;
  font-size: 15px;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}
.subscribe p {
  color: white;
  font-family: 'Cantarell', sans-serif;
}
input.emailBox {
  border: none;
  border-radius: 2.5px;
  display: inline-block;
  opacity: 0.25;
  padding: 3px;
}
input[ type=text ] {
  color: white;
}
button {
  background-color: #F15A29;
  border: none;
  border-radius: 2.5px;
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 3px;
}







.footer {
  height: 100%;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F15A29;
  color: white;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}
.footer h5 img {
  margin: 0 5px 2.5px 0;
  height: 18px;
}
.footer h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
}
.footer p {
  font-size: 14px;
}
.fa {
  background: white;
  margin: -2.5px 2.5px;
  color: #F15A29;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 6.5px;
  box-shadow: 0 2.5px 2.5px rgba(0, 0, 0, 0.3);
}
.footer h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 15px;
}
