.landing img {
  width: 100%;
}
.bannerText {
  top: 60%;
  margin-left: 38.52%;
  position: absolute;
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif; 

}
.logo1 {
  position: absolute;
  margin-left: 42.5%;
  top: 20%;
}

















.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F15A29;
  color: white;
  text-align: center;
}
.footer h5 img {
  margin: 0 5px 2.5px 0;
  height: 18px;
}
.footer h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
}
.footer p {
  font-size: 14px;
}
.fa {
  background: white;
  margin: -2.5px 2.5px;
  color: #F15A29;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 6.5px;
  box-shadow: 0 2.5px 2.5px rgba(0, 0, 0, 0.3);
}
.footer h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 15px;
}
